---
import { SEO } from 'astro-seo'
const { tittle, description, username, image, type, icon, Pages } = Astro.props
---
<html lang='en'>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <SEO
      title={tittle}
      description={description}
      openGraph={{ basic: { title: tittle, type: type, image: image } }}
      twitter={{
        creator: username,
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: 'icon', href: icon }],
        // extending the default meta tags
        meta: [
          {
            name: 'twitter:image',
            content: image,
          },
          { name: 'twitter:title', content: tittle },
          { name: 'twitter:description', content: description },
        ],
      }}
    />
  </head>
  <body set:html={Pages}>
    <script>
      import '@ui/home/src/script/main'
    </script>
  </body>
</html>